<div id="episodeContainer">
   
    <div id="sliderNavBar">
        {% for episode in site.posts reversed %}
            <div class="sliderNavItem {% if episode.url == page.url %} active {% endif %}">
                <a href="{{ episode.url }}">
                    <div class="episodeHeader">
                        <div><p>Episode {{ episode.number }}:</p> </div>
                        <div class="episodeTitle"><p><em>{{ episode.title }}</em></p></div>
                    </div>
                    <div class="description"><p>{{ episode.description }}</p></div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div id="episodeContent">

        <div class="leftColumn">
            <div class="episodeInfo">
                <h6>Episode {{ page.number }}</h6>
                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
            </div>
            <div class="player">
                <audio id="audioPlayer" src="https://media.blubrry.com/thedig/content.blubrry.com/thedig/The_Dig-EP_435-Takriti.mp3" preload="metadata"></audio>
                <div class="controls">
                    <button id="playPauseBtn" aria-label="Play">
                        <img id="playPauseIcon" src="/assets/icons/play.svg" alt="Play">
                    </button>
                    <span id="currentTime">0:00</span>
                    <input type="range" id="seekBar" value="0" step="1" min="0">
                    <span id="duration">0:00</span>
                    
                </div>
            </div>
            
        </div>

        <div class="rightColumn">
           <img src="https://www.psa.ac.uk/sites/default/files/news/5650136741_208e192368_o_d1784724-d9cd-4ad4-973e-b7fbd8c731e5-prv-min_0.jpg" alt="">

        </div>

        

    </div>

    <div id="reader">
        <div id="readerNav">
            <div class="borderLeft active" data-target="discussionQuestions">
                Discussion Questions
            </div>
            <div class="borderLeft" data-target="readerText">
                Reader
            </div>
            <div data-target="transcriptText">
                Transcript
            </div>

        </div>
        <div id="readerContent">
            <div id="discussionQuestions">
                <ul>
                    {% for question in page.discussionQuestions %}
                        <li>{{ question }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div id="readerText">
                
               <div class="readerGrid">
                {% for reading in page.readings %}
                <div class="readingItem">
                    <!-- <a href="{{ reading.link }}" target="_blank" rel="noopener"> -->
                        <div><em>{{ reading.title }}</em></div>
                        <div class="center">{{ reading.author }}</div>
                        <div class="center">{{ reading.year }}</div>
                        <div class="end">{{ reading.type }}</div>
                    <!-- </a> -->
                </div>
                {% endfor %}
               
               </div>
            </div>

            <div id="transcriptText">
                

            </div>
        </div>

    </div>

    <div>


    </div>

</div>

<script src="/assets/js/sliderNav.js"></script>
<script src="/assets/js/customAudioPlayer.js"></script>
<script src="/assets/js/readerSwitch.js"></script>