<div id="episodeContainer">

    <div id="sliderNavBar">
        {% assign sorted_episodes = site.episodes | sort: "number" %}
        {% for episode in sorted_episodes %}
            <div class="sliderNavItem {% if episode.url == page.url %} active {% endif %}">
                <a href="{{ episode.url }}">
                    <div class="episodeHeader">
                        <div><p>Episode {{ episode.number }}:</p></div>
                        <div class="episodeTitle"><p><em>{{ episode.title }}</em></p></div>
                    </div>
                    <div class="description"><p>{{ episode.shortDescription }}</p></div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div id="episodeContent">

        <div class="leftColumn">
            <div class="episodeInfo">
                <h6>Episode {{ page.number }}</h6>
                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
            </div>
            <div class="playerWrapper">
                <div class="streamingLinks">
                    <a href="{{ page.spotifyLink }}" target="_blank" rel="noopener">Spotify</a>
                    <a href="{{ page.appleLink }}" target="_blank" rel="noopener">Apple Podcasts</a>
                </div>
                <div class="player">
                    <audio id="audioPlayer" src="{{ page.audioLink }}" preload="metadata"></audio>
                    <div class="controls">
                        <button id="playPauseBtn" aria-label="Play">
                            <img id="playPauseIcon" src="/assets/icons/play.svg" alt="Play">
                        </button>
                        <span id="currentTime">0:00</span>
                        <input type="range" id="seekBar" value="0" step="1" min="0">
                        <span id="duration">0:00</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightColumn">
            <img src="{{ page.image }}" alt="{{ page.title }}">
        </div>

    </div>

    <div id="reader">
        <div id="readerNav">
            <div class="borderLeft active" data-target="discussionQuestions">
                Discussion Questions
            </div>
            <div class="borderLeft" data-target="readerText">
                Reader
            </div>
            <div data-target="transcriptText" {% unless page.hasTranscript %}class="disabled"{% endunless %}>
                {% if page.hasTranscript == true %}
                Transcript
                {% else %}
                <s>Transcript</s>
                {% endif %}
            </div>
        </div>

        <div id="readerContent">
            <div id="discussionQuestions">
                <ul>
                    {% for question in page.discussionQuestions %}
                        <li>{{ question.question }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div id="readerText">
                <div class="readerGrid">
                    {% for reading in page.readings %}
                    <a href="{{ reading.url }}" target="_blank" rel="noopener">
                        <div class="readingItem">
                            <div><em>{{ reading.title }}</em></div>
                            <div>{{ reading.author }}</div>
                            <div class="center">{{ reading.year }}</div>
                            <div class="end">{{ reading.type }}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div id="transcriptText">
            </div>
        </div>
    </div>


</div>

<script src="/assets/js/sliderNav.js"></script>
<script src="/assets/js/customAudioPlayer.js"></script>
<script src="/assets/js/readerSwitch.js"></script>
