<footer>
    <div class="footer-inner">
        <div class="footer-top">
            <div class="footer-brand">
                <a href="/">THAWRA</a>
            </div>
            <div class="footer-about">
                <h4>About Abdel Razzaq Takriti</h4>
                <p>Dr. Abdel Razzaq Takriti is an Associate Professor of History and the Arab-American Educational Foundation chair at Rice University. He is the author of <em>Monsoon Revolution: Republicans, Sultans, and Empires in Oman, 1965-1976</em> and the coauthor (with Karma Nabulsi) of the digital humanities project <a href="https://learnpalestine.qeh.ox.ac.uk/" target="_blank" rel="noopener">The Palestinian Revolution</a>.</p>
            </div>
            <div class="footer-about">
                <h4>About Daniel Denvir</h4>
                <p>Daniel Denvir is the host of <a href="https://thedigradio.com/" target="_blank" rel="noopener">The Dig</a>, a Jacobin podcast on politics, history, and economics everywhere. He is the author of <em>All-American Nativism</em> (Verso Books). He is a former staff writer at Salon and the Philadelphia City Paper, and his writing has appeared in The New York Times, The Nation, The Washington Post, n+1, The Guardian, The New Republic, and more.</p>
            </div>
            <div class="footer-credits">
                <h4>Credits</h4>
                <p>This study guide was assembled by Ben Mabie, Katy Montoya, Nihal El Asasar, and Walaa Ghussein, with support from Sylvia Atwood. Website designed and developed by <a href="mailto:bycalebstone@gmail.com">Caleb Stone</a>.</p>
                <p>&copy; {{ site.time | date: "%Y" }} The Dig</p>
            </div>
            <div class="footer-links">
                <a href="https://open.spotify.com/show/0e0eE7aKt5EQdg07CzeVoI" target="_blank" rel="noopener">Spotify</a>
                <a href="https://podcasts.apple.com/us/podcast/thawra/id1761860819" target="_blank" rel="noopener">Apple Podcasts</a>
            </div>
        </div>
    </div>
</footer>
