<footer>
    <div class="footer-inner">
        <div class="footer-brand">
            <a href="/">THAWRA</a>
        </div>
        <div class="footer-about">
            <h4>About Abdel Razzaq Takriti</h4>
            <p>Dr. Abdel Razzaq Takriti is the inaugural holder of the Arab-American Educational Foundation Chair in Modern Arab History, Associate Professor at the Department of History, and founding Director of the Arab-American Educational Foundation Center for Arab Studies, University of Houston. His research focuses on the history of revolutions, intellectual and political currents, and state-building in the modern Arab world as well as on global histories of empire and anti-colonialism.</p>
        </div>
        <div class="footer-links">
            <a href="https://open.spotify.com/show/0e0eE7aKt5EQdg07CzeVoI" target="_blank" rel="noopener">Spotify</a>
            <a href="https://podcasts.apple.com/us/podcast/thawra/id1761860819" target="_blank" rel="noopener">Apple Podcasts</a>
        </div>
        <div class="footer-copy">
            <p>&copy; {{ site.time | date: "%Y" }} The Dig</p>
        </div>
    </div>
</footer>
