<div id="landing-content">
    <div>
        <p>Across hours of finely detailed inquiry, Daniel Denvir and Abdel Razzaq Takriti chart the emergence and evolution of revolutionary currents in the Mashriq, including nationalism, Nasserism, Ba'athism, communism, and Islamism-set in the context of imperialist power politics and predation. Every episode emphasizes the critical history of the Nakba and the Palestinian national liberation struggle which have decisively shaped the region -and, obviously, continue to do so today. This pod is an ideal resource for academic courses, activist political education, and anyone interested in better understanding the making of the modern Middle East.</p>
    </div>
    <div>
        <a href="/Episodes">Enter -></a>
    </div>
</div>