<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>Thawra</title>
    {% seo %}
</head>
<body>

    <div id="episodeListContainer">
        {% include header.html 
            justify="left"
        %}
        
        {% include episodeList.html%}
        
        
    </div>
    
    
</body>
</html>